<div class="detail-container">
    <img src="{{ product.url }}">
    <div class="detail-item">
        <h4>{{ product.name }}</h4>
        <p>${{ product.price }}</p>
        <p>{{ product.description }}</p>
        <form>
            <select class="select-input">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <input type="submit" value="Add to cart">
        </form>
        <a class="back-link" routerLink="/">Back to product list</a>
    </div>
</div>