<div class="container">
    <div class="row">
        <div class="column-6">
            <div class="cart-container" *ngFor="let item of shoppingCart">
                <div class="cart-item">
                    <div>
                        <img src="{{ item.url }}">
                    </div>
                    <div class="cart-item-details">
                        <h2>{{ item.name }}</h2>
                        <p>${{ item.price }}</p>
                        <p>Amount: <input class="number-input" type="number" min="1" value="{{ item.quantity }}" (change)="updateQuantity(item, $event)" ></p>
                        <button (click)="removeProduct(item)">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-6">
            <div class="form-margin">
                <form>
                    <label>Full Name:</label><br>
                    <input type="text"><br>
                    <label>Address:</label><br>
                    <input type="text"><br>
                    <label>Credit Card Number:</label><br>
                    <input type="number"><br>
                </form>
            </div>
        </div>
    </div>
    </div>
<div class="total">
    Total ${{ total }}
</div>